* {

.search-box input::placeholder {
  color: #888;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;

  padding: 18px;
}

.card {
  background: #0d0d0d;
  border-radius: 20px;

  overflow: hidden;

  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.thumbnail {
  width: 100%;
  aspect-ratio: 9/14;
  object-fit: cover;

  background: #111;
}

.card-content {
  padding: 10px;
}

.title {
  font-size: 15px;
  font-weight: 500;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.views {
  margin-top: 6px;
  color: #9ca3af;
  font-size: 13px;
}

.loading {
  text-align: center;
  padding: 30px;
  color: #999;
}

@media(max-width: 480px) {
  .logo {
    font-size: 32px;
  }
}
